<a href="https://colab.research.google.com/github/hoyadiya/jejumaster/blob/main/%EA%B3%BC%EC%A0%9C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
result = 10 + 3 * 4
print(result)

22

In [2]:
iphone_price = 1300000
quantity = 15

total_price = iphone_price * quantity
print("총 가격:", total_price, "원")

총 가격: 19500000 원

In [3]:
number = int(input("숫자를 입력하세요: "))

remainder = number % 2

if remainder == 0:
    print(number, "는 짝수입니다.")
else:
    print(number, "는 홀수입니다.")

숫자를 입력하세요: 2
2 는 짝수입니다.

In [5]:
result = (2**3) * (5**4) * (3**4)
print("주어진 수를 제곱 형태로 나타낸 결과:", result)

주어진 수를 제곱 형태로 나타낸 결과: 405000